*{
	margin:0;
    padding:0;
}
  
body {
    background-color:#bababa;
    color:#fff;
    font:14px/1.3 Arial,sans-serif;
}

@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: normal;
  src: local('Lobster'), url('http://themes.googleusercontent.com/static/fonts/lobster/v5/MWVf-Rwh4GLQVBEwbyI61Q.woff') format('woff');
}

h1 {
	position: relative;
	font-size: 40px;
	margin-top: 0;
	font-family: 'Lobster', helvetica, arial;
	text-align:center;
}
h1 a {
	text-decoration: none;
	color: #666;
	position: absolute;
	-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,.5)), to(rgba(0,0,0,1)));
}

h1:after {
	content : 'HTML5 TETRIS 1.0';
	color: #d6d6d6;	
	text-shadow: 0 1px 0 white;
}
	
footer {
    background-color:#212121;
    bottom:0;
    box-shadow: 0 -1px 2px #111111;
    display:block;
    height:70px;
    left:0;
    position:fixed;
    width:100%;
    z-index:100;
}
  
footer h2{
    font-size:22px;
    font-weight:normal;
    left:50%;
    margin-left:-400px;
    padding:22px 0;
    position:absolute;
    width:540px;
    text-align:right;
}	

/*  
footer a.stuts,a.stuts:visited{
    border:none;
    text-decoration:none;
    color:#fcfcfc;
    font-size:14px;
    left:50%;
    line-height:31px;
    margin:23px 0 0 110px;
    position:absolute;
    top:0;
}*/
  
footer .stuts span {
    font-size:22px;
    font-weight:bold;
    margin-left:5px;
}
  
.container {
    color:#000;
    margin:20px auto;
    position:relative;
    width:730px;
}
  
.column1 {
    float:left;
    width:300px;
}
  
.column2 {
    float:left;
    padding-left:20px;
    width:170px;
}
  
#panel {
    border:1px #000 solid;
    box-shadow:4px 6px 6px #444444;
    cursor:crosshair;
}
  
.column2 > div {
    margin-bottom:10px;
}
  
#swImage {
    border:1px #000 solid;
    box-shadow:2px 3px 3px #444444;
    cursor:pointer;
    height:25px;
    line-height:25px;
  
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}
  
#swImage:hover {
    margin-left:2px;
}
  
#preview {
    border:1px #000 solid;
    box-shadow:2px 3px 3px #444444;
    height:200px;
    width:200px;
  
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}
  
.column2 input[type=text] {
    float:right;
    width:110px;
}